<!DOCTYPE html>
<html class="no-bg">

<head>
    <title>Atom VPS Manager</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/libraries/jquery/dist/jquery.min.js"></script>
    <script defer src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="/libraries/datatables.net/js/jquery.dataTables.min.js"></script>
    <script defer src="/libraries/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script defer src="/libraries/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script defer src="/libraries/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script defer type="text/javascript"
        src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>

    <script defer src="/libraries/jquery-steps/build/jquery.steps.min.js"></script>

    <script defer src="/public/js/app.bundle.js"></script>


    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/datatables.net-bs4/css/dataTables.bootstrap4.min.css' />
    <link rel='stylesheet' href='/libraries/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/solid.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/regular.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/fontawesome.min.css' />

    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css"
        rel="stylesheet" />


    <link rel='stylesheet' href='/public/stylesheets/bootswatch.min.css' />

    <link rel='stylesheet' href='/public/stylesheets/main.min.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png?v=A0RLxKrpPo">
    <link rel="icon" type="image/png" href="/public/images/favicons/favicon-32x32.png?v=A0RLxKrpPo" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/images/favicons/favicon-16x16.png?v=A0RLxKrpPo" sizes="16x16">
    <link rel="manifest" href="/public/images/favicons/manifest.json?v=A0RLxKrpPo">
    <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg?v=A0RLxKrpPo" color="#5bbad5">
    <link rel="shortcut icon" href="/public/images/favicons/favicon.ico?v=A0RLxKrpPo">
    <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml?v=A0RLxKrpPo">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">
                        Atom VPS Manager</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/clients">
                                <i class="fas fa-user"></i>
                                <span>Clients</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pvenodes">
                                <i class="fas fa-desktop"></i>
                                <span>Nodes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pvestorage">
                                <i class="fas fa-hdd"></i>
                                <span>Storage</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-server"></i>
                                <span>Virtual Machines</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/newvm">
                                            Create Virtual Machine
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/listvms">
                                            List Virtual Machines
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/vmtemplates">
                                            VM Templates
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/ipaddresses">
                                <i class="fas fa-sitemap"></i>
                                <span>Ip Addresses</span>
                            </a>
                        </li>
                        <li>
                            <a href="/resourceplans">
                                <i class="fas fa-archive"></i>
                                <span>Resource Plans</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="/dashboard/settings">
                    <i class="fa fa-cogs"></i>
                </a>
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="topbar">
                <div class="topbar-brand">
                    <a href="/">
                        Atom VPS Manager
                    </a>
                </div>
            </div>
            <div class="container-fluid">
                {{{body}}}
            </div>
        </main>
        <!-- page-content" -->
    </div>
</body>

</html>