<div class="page-header">
    <h4 class="page-title">Clients</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Clients</div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" id="btn-add-client">Add Client</button>
            <table class="table table-bordered" id="clients-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>