<div class="page-header">
    <h4 class="page-title">IP Addresses</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">IP Addresses</div>
        <div class="card-body">
            <button class="btn btn-primary mb-3 mr-2" id="btn-add-ip-range">Add IP Range</button>
            <button class="btn btn-primary mb-3" id="btn-add-ip-single">Add Single IP Address</button>
            <table class="table table-bordered" id="ipaddresses-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP Address</th>
                        <th>Assigned VM</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>