<div class="page-header">
    <h4 class="page-title">Virtual Machines</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Virtual Machines</div>
        <div class="card-body">
            <a href="/newvm"><button class="btn btn-primary mb-3 mr-2" id="btn-create-vm">Create VM</button></a>
            <button class="btn btn-primary mb-3" id="btn-listvms-rescan">Rescan Proxmox</button>
            <table class="table table-bordered" id="vms-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Host Name</th>
                        <th>Type</th>
                        <th>Resource Plan</th>
                        <th>IP Address</th>
                        <th>Client</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>