<div class="page-header">
    <h4 class="page-title">Create Virtual Machine</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Create Virtual Machine</div>
        <div class="card-body">
            <div class="pending-vm-creation">
                <div class="icon-container">
                    <i class="fas fa-sync fa-spin"></i>
                </div>
                <h4>Creating Virtual Machine..</h4>
            </div>
            <div class="vm-creation-completed">
                <div class="icon-container">
                    <i class="fas fa-check text-success"></i>
                </div>
                <h4>Virtual Machine Created!</h4>
            </div>
            <div class="vm-creation-failed">
                <div class="icon-container">
                    <i class="fas fa-times text-danger"></i>
                </div>
                <h4>Creating Virtual Machine Failed!</h4>
                <p class="error_msg"></p>
            </div>
            <form action="#" id="form-new-vm">
                <div id="new-vm-wizard">

                    <h1>Select VM Type</h1>
                    <div>
                        <p>
                            Please select the type of Virtual Machine you want to create.
                        </p>
                        <div class="form-group required">
                            <label for="sel-new-vm-type" class="control-label">Virtual Machine Type:</label>
                            <select class="form-control required" id="sel-new-vm-type">
                                <option value="-1">-- SELECT --</option>
                                <option value="0">LXC</option>
                                <option value="1">Qemu</option>
                            </select>
                        </div>
                    </div>

                    <h1>Virtual Machine Options</h1>
                    <div>
                        <p>
                            Please set the virtual machine options.
                        </p>
                        <div class="form-group required">
                            <label for="inp-new-vm-name" class="control-label">Host Name:</label>
                            <input type="text" id="inp-new-vm-name" class="form-control required"
                                placeholder="atom-12345678">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-new-vm-generate-hostname"><i
                                    class="fas fa-sync"></i> Generate Host Name</button>
                        </div>
                        <div class="form-group required">
                            <label for="sel-new-vm-template" class="control-label required">Template:</label>
                            <select class="form-control" id="sel-new-vm-template">
                                <option value="-1">-- SELECT --</option>
                            </select>
                        </div>
                        <div class="form-group required">
                            <label for="sel-new-vm-ipaddress" class="control-label required">IP Address:</label>
                            <select class="form-control" id="sel-new-vm-ipaddress">
                                <option value="-1">-- SELECT --</option>
                            </select>
                        </div>
                        <div class="form-group required">
                            <label for="sel-new-vm-storage" class="control-label required">VM Storage Location:</label>
                            <select class="form-control" id="sel-new-vm-storage">
                                <option value="-1">-- SELECT --</option>
                            </select>
                        </div>
                    </div>

                    <h1>Virtual Machine Resource</h1>
                    <div>
                        <div class="form-group required">
                            <label for="sel-new-vm-resplan" class="control-label required">Resource Plan:</label>
                            <select class="form-control" id="sel-new-vm-resplan">
                                <option value="-1">-- SELECT --</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inp-new-vm-resplan-type" class="control-label required">Type:</label>
                            <input type="text" id="inp-new-vm-resplan-type" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inp-new-vm-resplan-cpus" class="control-label required">vCPUs:</label>
                            <input type="text" id="inp-new-vm-resplan-cpus" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inp-new-vm-resplan-ram" class="control-label required">RAM:</label>
                            <input type="text" id="inp-new-vm-resplan-ram" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inp-new-vm-resplan-diskspace" class="control-label required">Disk Space:</label>
                            <input type="text" id="inp-new-vm-resplan-diskspace" class="form-control" disabled>
                        </div>
                    </div>

                    <h1>Virtual Machine Client</h1>
                    <div>
                        <div class="form-group required">
                            <label for="sel-new-vm-client" class="control-label required">Client:</label>
                            <select class="form-control" id="sel-new-vm-client">
                                <option value="-1">-- SELECT --</option>
                            </select>
                        </div>
                    </div>

                    <h1>Summary</h1>
                    <div>
                        <h4>Create New Virtual Machine Summary:</h4>
                        <div class="summary-block">
                            <span class="summary-item" id="new-vm-summary-type">Type: <b></b></span>
                        </div>
                        <div class="summary-block">
                            <span class="summary-item" id="new-vm-summary-name">Host Name: <b></b></span>
                            <span class="summary-item" id="new-vm-summary-template">Template: <b></b></span>
                            <span class="summary-item" id="new-vm-summary-ipaddress">IP Address: <b></b></span>
                            <div class="summary-block">
                                <span class="summary-item" id="new-vm-summary-ipaddress-ip">IP Address: <b></b></span>
                                <span class="summary-item" id="new-vm-summary-ipaddress-defaultgw">Default Gateway:
                                    <b></b></span>
                                <span class="summary-item" id="new-vm-summary-ipaddress-cidr">IP CIDR: <b></b></span>
                            </div>
                            <span class="summary-item" id="new-vm-summary-storage">VM Storage: <b></b></span>
                        </div>
                        <div class="summary-block">
                            <span class="summary-item" id="new-vm-summary-resplan">Resource Plan: <b></b></span>
                            <div class="summary-block">
                                <span class="summary-item" id="new-vm-summary-resplan-cpu">vCPUs: <b></b></span>
                                <span class="summary-item" id="new-vm-summary-resplan-ram">RAM: <b></b></span>
                                <span class="summary-item" id="new-vm-summary-resplan-disk">Disk Space: <b></b></span>
                            </div>
                        </div>
                        <div class="summary-block">
                            <span class="summary-item" id="new-vm-summary-client">Client: <b></b></span>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>