<div class="page-header">
    <h4 class="page-title">Proxmox Server Nodes</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Nodes</div>
        <div class="card-body">
            <button class="btn btn-primary" id="btn-rescan-nodes">Rescan Nodes</button>
            <table class="table table-bordered" id="pvenodes-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>