<div class="page-header">
    <h4 class="page-title">Proxmox Server Storage</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Storage</div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" id="btn-rescan-storage">Rescan Storage</button>
            <h4>Shared Storage</h4>
            <table class="table table-bordered" id="pvestorage1-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Allowed Content</th>
                    </tr>
                </thead>
            </table>
            <h4>Local Storage</h4>
            <table class="table table-bordered" id="pvestorage2-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Node</th>
                        <th>Allowed Content</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>