<div class="page-header">
    <h4 class="page-title">VM Resource Plans</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Resource Plans</div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" id="btn-add-res-plan">Add Resource Plan</button>
            <table class="table table-bordered" id="resourceplans-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>vCPUs</th>
                        <th>RAM</th>
                        <th>Disk Space</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>