<div class="page-header">
    <h4 class="page-title">Virtual Machine Templates</h4>
</div>

<div class="container-full">
    <div class="card border-dark mb-3">
        <div class="card-header">Virtual Machine Templates</div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" id="btn-rescan-templates">Rescan Templates</button>
            <table class="table table-bordered" id="vm-templates-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>