html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    display: table;
    background: #edeeee;
    font-size: 12.5px;
}

html.no-bg {
    background: unset;
}

body {
    padding-right: 0 !important
}

.container-fullheight {
    height: 100%;
}


.infin {
    font-size: 16px;
}

.table.compact td {
    padding: 4px 8px !important;
}


.form-group.required .control-label:after {
    content: " *";
    color: red;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-loading-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
    width: 100% !important;
    display: inline-block !important;
}

.animated-loading-background:before,
.animated-loading-background:after {
    content: '' !important;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}



/*----------------page-wrapper----------------*/


.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper .theme.chiller-theme {
    background: #1d1d1d;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 260px;
    }
}

/*----------------show sidebar button----------------*/
#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 1000;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
    font-weight: 400;
    flex-grow: 1;
    font-size: 16px;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 4px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status .fa-circle {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c !important;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
    padding: 10px 20px;
}

.sidebar-wrapper .sidebar-search .search-results {
    display: none;
    max-height: 90px;
    overflow-y: auto;
    background: #172029;
    border-top: 1px solid #003042;
}

.sidebar-wrapper .sidebar-search .search-results.show {
    display: block;
}

.sidebar-wrapper .sidebar-search .search-results a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 0 12px;
}

.sidebar-wrapper .sidebar-search .search-results a:hover {
    background: rgba(0, 0, 0, 0.2);
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu>ul>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    margin-top: 6px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.sidebar-footer>a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.sidebar-footer>a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
}

.page-wrapper .page-content>div {
    padding: 15px;
    position: relative;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

.chart-container {
    position: relative;
}

#hw-health-card .legend {
    text-align: left;
}

#hw-health-card .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#hw-health-card .legend ul li {
    font-size: 13px;
    display: block;
    cursor: pointer;
    margin-right: 8px;
}

#hw-health-card .legend ul li:hover {
    text-decoration: underline;
}

#hw-health-card .legend span {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 5px;
}


/*------topbar-------------------------*/

.topbar {
    width: 100%;
    height: 50px;
    background: #2C3E50;
    border-bottom: 1px solid #172029;
    padding: 0 0 0 40px !important;
}

.page-wrapper .topbar-brand {
    color: #fff;
}

.page-wrapper.toggled .topbar-brand {
    display: none;
}

.page-wrapper .topbar-brand a {
    color: #fff;
    font-size: 18px;
}

.page-wrapper .topbar-brand a:hover {
    text-decoration: none;
}


/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
}

::-webkit-scrollbar-track {
    background: #ccc;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #ccc;
}

::-webkit-scrollbar-track:active {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #2C3E50;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #172029;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #172029;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header {
    background: #172029;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #ffffff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #ffffff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #172029;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #012c3d;
}

.chiller-theme .sidebar-footer {
    background: #172029;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #012c3d;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #172029;
}

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

.navbar {
    border: unset;
    border-bottom: 1px solid #172029;
    border-radius: unset;
    margin: 0;
    padding: 4px 0;
    z-index: 50;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.navbar .nav,
.dropdown-menu {
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    text-shadow: unset !important;
    color: #fff !important;
    padding: 0 !important;
    font-size: 16.75px;
}

.navbar .navbar-brand span {
    display: block;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.navbar .navbar-brand span img {
    position: relative;
    top: -1px;
}

.navbar .nav-item .nav-link,
.navbar .nav-item .nav-link:hover {
    text-shadow: unset;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    text-transform: uppercase;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item.dropdown.show .nav-link:hover {
    background: #0079a1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 11px;
}

.navbar i.fas {
    font-size: 14px !important;
    margin-right: 5px;
}

.navbar .dropdown .dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 42px, 0px);
    top: 0;
    left: 0;
    will-change: transform;
}

#toast-container>.toast {
    opacity: 1;
}

#toast-container>.toast-info:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f129";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-info {
    background: #2C3E50 !important;
}

#toast-container>.toast-error:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f12a";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-error {
    background: #F04124 !important;
}

#toast-container>.toast-success:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-success {
    background: #43ac6a !important;
}

#toast-container>.toast-warning:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f071";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-warning {
    background: #E99002 !important;
}

.page-header {
    background: #fff;
    height: 45px;
    line-height: 45px;
    width: calc(100% + 30px);
    padding: 0 15px;
    margin: -15px -15px 10px -15px;
    border-bottom: 1px solid #ddd;
}

.page-header .page-title {
    margin: 0;
    height: 45px;
    line-height: 45px;
}

.container-fluid>.container {
    padding-left: 0;
    padding-right: 0;
}


.nav-tabs {
    display: none;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }

    .tab-content .card {
        border: none;
    }

    .tab-content .card .card-header {
        display: none;
    }

    .tab-content .card .collapse {
        display: block;
    }
}

@media(max-width:767px) {

    /*
     * Changed selector to `.tab-content > .tab-pane` to override `.fade:not(.show)`
     * In BS4 Beta `.tab-pane`s were rendered hidden by just `.fade`
     */
    .tab-content>.tab-pane {
        display: block;
        opacity: 1;
    }
}