#btn-show-pve-vms i {
    margin-left: 5px;
}

#new-vm-wizard {
    display: none;
}


#new-vm-wizard .form-control {
    max-width: 300px;
    color: #222;
}

.summary-block {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
}

.summary-block .summary-item {
    display: block;
}

.summary-block>.summary-block {
    margin-top: 5px;
    background: #2C3E50;
    border: 1px solid #1c2833;
    color: #fff;
}

.pending-vm-creation,
.vm-creation-completed,
.vm-creation-failed {
    height: 140px;
    position: relative;
    display: none;
}

.pending-vm-creation .icon-container,
.pending-vm-creation h4,
.vm-creation-completed .icon-container,
.vm-creation-completed h4,
.vm-creation-failed .icon-container,
.vm-creation-failed h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 15px;
}

.pending-vm-creation h4,
.vm-creation-completed h4,
.vm-creation-failed h4 {
    top: 120px;
}

.pending-vm-creation i,
.vm-creation-completed i,
.vm-creation-failed i {
    font-size: 80px;
}