<div class="modal" id="add-resource-plan" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Resource Plan</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="error"></div>
                <form action="" method="POST" class="form-horizontal">
                    <div class="form-group required">
                        <label class="control-label" for="inp-add-res-plan-name">Name:</label>
                        <input type="text" class="form-control" id="inp-add-res-plan-name">
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="inp-add-res-plan-type">Type:</label>
                        <select class="form-control" id="sel-add-res-plan-name">
                            <option value="-1">-- SELECT --</option>
                            <option value="0">LXC</option>
                            <option value="1">QEMU</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inp-add-res-plan-cpu">vCPUs:</label>
                        <input type="number" value="1" min="1" max="64" class="form-control" id="inp-add-res-plan-cpu">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inp-add-res-plan-ram">RAM (GB):</label>
                        <input type="number" value="1" min="1" max="64" class="form-control" id="inp-add-res-plan-ram">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inp-add-res-plan-disk">Disk Size (GB):</label>
                        <input type="number" value="20" min="20" max="200" class="form-control"
                            id="inp-add-res-plan-disk">
                    </div>
                    <button class="btn btn-primary" id="btn-add-res-plan-form">Add Resource Plan</button>
                </form>
            </div>
        </div>
    </div>
</div>