<div class="modal" id="add-ip-range" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add IP Range</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="error"></div>
                <form action="" method="POST" class="form-horizontal">
                    <div class="form-group required">
                        <label class="control-label" for="inp-add-ip-range-start">Starting IP:</label>
                        <input type="text" class="form-control" id="inp-add-ip-range-start" placeholder="192.168.0.20">
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="inp-add-ip-range-end">Ending IP:</label>
                        <input type="text" class="form-control" id="inp-add-ip-range-end" placeholder="192.168.0.100">
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="sel-add-ip-range-cidr">Subnet CIDR:</label>
                        <select name="" id="sel-add-ip-range-cidr" class="form-control">
                            <option value="-1">-- SELECT --</option>
                            <option value="/32">/32</option>
                            <option value="/31">/31</option>
                            <option value="/30">/30</option>
                            <option value="/29">/29</option>
                            <option value="/28">/28</option>
                            <option value="/27">/27</option>
                            <option value="/26">/26</option>
                            <option value="/25">/25</option>
                            <option value="/24">/24</option>
                            <option value="/23">/23</option>
                            <option value="/22">/22</option>
                            <option value="/21">/21</option>
                            <option value="/20">/20</option>
                            <option value="/19">/19</option>
                            <option value="/18">/18</option>
                            <option value="/17">/17</option>
                            <option value="/16">/16</option>
                            <option value="/15">/15</option>
                            <option value="/14">/14</option>
                            <option value="/13">/13</option>
                            <option value="/12">/12</option>
                            <option value="/11">/11</option>
                            <option value="/10">/10</option>
                            <option value="/9">/9</option>
                            <option value="/8">/8</option>
                            <option value="/7">/7</option>
                            <option value="/6">/6</option>
                            <option value="/5">/5</option>
                            <option value="/4">/4</option>
                            <option value="/3">/3</option>
                            <option value="/2">/2</option>
                            <option value="/1">/1</option>
                            <option value="/0">/0</option>
                        </select>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="inp-add-ip-range-default-gw">Default Gateway:</label>
                        <input type="text" class="form-control" id="inp-add-ip-range-default-gw"
                            placeholder="192.168.0.1">
                    </div>

                    <button class="btn btn-primary" id="btn-add-ip-range-form">Add IP Range</button>
                </form>
            </div>
        </div>
    </div>
</div>