<div class="modal" id="rescan-pve-vms" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rescan Proxmox Virtual Machines</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="error"></div>
                <button class="btn btn-primary mb-3" id="btn-show-pve-vms">Show Proxmox Virtual Machines</button>
                <table class="table table-bordered" id="rescanned-vms-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Host Name</th>
                            <th>Resource Plan</th>
                            <th>IP Address</th>
                            <th>Client</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>